
  <header class="masthead text-center text-dark">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0"> Free Online Resume Builder</h1>
      <h3 class="masthead-subheadingmb-0">Let the Fun Begin!</h3>
      <a class="btn btn-dark btn-xl rounded-pill mt-5(href='#scroll')">Start
        Here</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

{{! section 1 }}
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="/images/image1.jpg"
            alt="..."/>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Starting A New Career...</h2>
          <p>Starting or changing careers? We are here to help! With
            this resume generator, you will be able to build a simple resume
            highlighting your skillsets, edducation and previous work 
            experiences. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{! section 2 }}
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="/images/image2.jpg"
            alt="..."/>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Less stress!</h2>
          <p>Our free resume generator lets you easily build and create
            your very own resume in minutes. This takes the stress out 
            from having to think about how you should setup your resume.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{{! section 3}}
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="/images/image3.jpg"
            alt="..."/>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Unlimited Access</h2>
          <p>Our application offers you have unlimited access for free!
            You are able to create as many resumes as you would like. Don't
            forget to download your resume as a PDF. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="py-5 bg-black">
   <div class="container px-5">
    <p class="m-0 text-center text-white small">Copyright © Orange Axolotls 2022</p>
  </div>
</footer>