<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Resume:</h3>
  </div>
  <button type="button" class="btn btn-primary btn-lg" id="resume-form">Begin</button>

 {{#if resume-list.length}}
  <div class="col-md-6 resume-list">
    <h3>Your Resumes</h3>

    {{#each resume-list as |Resume|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{Resume.id}}">{{Resume.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{Resume}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <script src="./js/profile.js"></script>